// Config
@import "./config/_variables.scss";
@import "./config/_reset.scss";

// Components
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/video.scss";
@import "./components/shared.scss";
@import "./components/forms.scss";
@import "./components/social-login.scss";
@import "./components/video-player.scss";
@import "./components/comment.scss";

// Screens
@import "./screens/search.scss";
@import "./screens/profile.scss";
@import "./screens/edit-profile.scss";
@import "./screens/upload.scss";
@import "./screens/watch.scss";

// Defaults
a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $bg;
  color: white;
}

main {
  margin: 0 auto;
  margin-top: 50px;
}

h1 {
  color: white;
  font-size: 2em;
  border-left: 5px solid $main;
  padding: 10px;
  letter-spacing: 3px;
  margin-bottom: 40px;
  font-weight: bold;
  padding-left: 20px;
}

input:not(input[type="range"]),
input[type="submit"] {
  all: unset;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: black;
  margin-bottom: 5px;
  font-size: 16px;
  color: white;
  width: 90%;
  &::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
}

input[type="submit"],
.social__btn,
.video__comment-btn {
  border-radius: 5px;
  padding: 12px 20px !important;
  background-color: white !important;
  color: $main !important;
  text-align: center !important;
  cursor: pointer !important;
  display: block;
  border: none;
  font-weight: bold !important;
  &:focus {
    outline: none;
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

i {
  cursor: pointer;
}

// Classes
.like {
  color: $main;
}

.none {
  display: none;
}

.no-margin {
  margin: 0 !important;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 280px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align: center;
  animation: goAway 0.5s ease-in-out forwards;
  font-weight: bold;
  &.error {
    background-color: tomato;
    color: white;
    animation-delay: 2s;
  }
  &.success {
    background-color: #78e08f;
    color: white;
    animation-delay: 2s;
  }
  &.info {
    background-color: $main;
    color: white;
    animation-delay: 1s;
  }
}
