.main__watch {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
}

.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__hashtags {
    font-size: 16px;
    margin-bottom: 10px;
    color: $main;
    small {
      margin-right: 10px;
    }
  }
  .video__title {
    margin-bottom: 20px;
    font-size: 30px;
    word-break: break-all;
    letter-spacing: 1px;
  }
  .video__meta {
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
    padding-bottom: 10px;
    .video__createdAt,
    .video__views,
    .video__likes span {
      font-size: 12px;
    }
  }
  .video__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .video__owner {
    width: fit-content;
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  .video__edit,
  .video__delete {
    width: fit-content;
    margin-top: 20px;
    font-size: 14px;
    color: $main;
    font-weight: bold;
    cursor: pointer;
  }
  .video__description {
    margin-top: 10px;
    word-break: break-all;
  }
}

.video__comments {
  padding: 30px 20px;
  border-radius: 10px;
  border: 1px solid rgba($color: #fff, $alpha: 0.1);
  .video__add-comments {
    margin-bottom: 30px;
    .video__comment-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      textarea {
        resize: vertical;
        height: 50px;
        border-radius: 5px;
        margin-bottom: 5px;
        &:focus {
          outline: 2px solid $main;
        }
      }
      button {
        width: 100%;
      }
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    max-height: 600px;
    overflow: scroll;
    border-radius: 15px;
  }
}
