// video mixin
.video-mixin {
  &:hover {
    transform: scale(0.95);
    box-shadow: 0 3px 5px rgb(255 255 255 / 2%),
      0 3px 5px rgb(255 255 255 / 10%);
    transition: all 0.2s;
  }
  .video-mixin__thumb {
    height: 160px;
    border-radius: 7px 7px 0 0;
    width: 100%;
    background-color: ivory;
  }
  .video-mixin__data {
    background-color: $header_bg;
    border-radius: 0 0 7px 7px;
    padding: 10px;
    display: flex;
    .video-mixin__title {
      font-size: 18px;
      word-break: break-all;
    }
    .video-mixin__meta {
      margin-top: 5px;
      font-size: 12px;
    }
    .video-mixin__avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}
