#videoContainer {
  width: 100%;
  position: relative;
  video {
    width: 100%;
  }
  &.hideCursor {
    cursor: none;
  }
  .videoControls {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    &.showing {
      opacity: 1;
    }
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr 16fr 4fr 1fr 1fr;
    gap: 10px;
    justify-content: space-between;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.8)
    );
    padding: 10px;
    left: 0;
    box-sizing: border-box;
    .videoControls__play {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .videoControls__playBtn {
        font-size: 1.5rem;
        margin: 0px 15px;
      }
      .videoControls__time {
        font-size: 1rem;
      }
    }
    .videoControls__volume {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        margin: 0 5px;
        i {
          font-size: 1.5rem;
        }
      }
    }
    .videoControls__playbackRate {
      select {
        color: white;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        font-size: 1rem;
        &:focus {
          outline: none;
        }
      }
    }
    .videoControls__fullScreen {
      font-size: 1.5rem;
    }
    input[type="range"] {
      -webkit-appearance: none;
      background: rgba(240, 240, 240, 0.8);
      outline: none;
      border-radius: 15px;
      overflow: hidden;
      height: 7px;
      cursor: pointer;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 7px;
        height: 7px;
        background: $main;
        cursor: pointer;
        box-shadow: -407px 0 0 400px $main;
      }
    }
  }
}
