// video mixin
.video-mixin {
  &:hover {
    transform: scale(0.98);
    transition: all 0.3s;
    box-shadow: 0 5px 7px rgb(255 255 255 / 2%),
      0 5px 7px rgb(255 255 255 / 10%);
  }
  .video-mixin__thumb {
    height: 160px;
    width: 100%;
    background-color: ivory;
  }
  .video-mixin__data {
    background-color: $header_bg;
    padding: 10px;
    display: flex;
    .video-mixin__title {
      font-size: 18px;
      word-break: break-all;
    }
    .video-mixin__meta {
      margin-top: 5px;
      font-size: 12px;
      span {
        word-break: break-all;
      }
    }
    .video-mixin__avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}
