extends base

block content
    //- multer는 enctype="multipart/form-data"인 form만 처리한다.
    form(method="POST", enctype="multipart/form-data").edit-profile__form
        h1 Edit Profile
        div.inputbox
            input(type="file", id="avatar", name="avatar", accept="image/*")
            label(for="avatar") Avatar
        div.inputbox
            input(name="name", type="text", required, value=loggedInUser.name, autocomplete="off", id="name")
            label(for="name") Name
        div.inputbox
            input(name="email", type="text", required, value=loggedInUser.email, autocomplete="off", id="email")
            label(for="email") Email
        div.inputbox
            input(name="username", type="text", required, value=loggedInUser.username, autocomplete="off", id="username")
            label(for="username") Username
        input(type="submit", value="Update Profile")
        if !loggedInUser.socialOnly
            div.edit-profile__password
                a(href="change-password") Change Password &rarr;