extends base

block content
    h4 Update Video
    form(method="POST")
        h1 Edit Video
        div.inputbox
            input(required, type="text", name="title", maxlenght=50, value=video.title, autocomplete="off", id="title")
            label(for="title")  Title
        div.inputbox
            input(required, type="text", name="description", value=video.description, autocomplete="off", id="description")
            label(for="description")  Description
        div.inputbox
            input(required, type="text", name="hashtags", value=video.hashtags.join(), autocomplete="off", id="hashtags")
            label(for="hashtags")  Hashtags (separated by comma)
        input(value="Save", type="submit")