extends base

block content
    h4 Update Video
    form(method="POST")
        input(placeholder="Title", required, type="text", name="title", maxlenght=80, value=video.title)
        input(placeholder="Description", required, type="text", name="description", minlength=10, value=video.description)
        input(placeholder="Hashtags, separated by comma.", required, type="text", name="hashtags", value=video.hashtags.join())
        input(value="Save", type="submit")