extends base

block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        h1 Join
        div.inputbox
            input(name="name", type="text", required, autocomplete="off")
            span Name
        div.inputbox
            input(name="email", type="text", required, autocomplete="off")
            span Email
        div.inputbox
            input(name="username", type="text", required, autocomplete="off")
            span Username
        div.inputbox
            input(name="password", type="password", required)
            span Password
        div.inputbox
            input(name="password2", type="password", required)
            span Confirm Password
        input(type="submit", value="Join")
        include partials/social-login
    div.auth-switch
        span Already have an account? 
        a(href="/login") Log in now &rarr;