extends base

block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        h1 Login
        div.inputbox
            input(name="username", type="text", required, autocomplete="off")
            span Username
        div.inputbox
            input(name="password", type="password", required)
            span Password
        input(type="submit", value="Login")
        include partials/social-login
    div.auth-switch
        span Don't have an account? 
        a(href="/join") Create one now &rarr;