extends base.pug

block content 
    div.upload__container
        div.upload__video
            video#preview.none
            span#mic.upload__micBtn.none
                i.fas.fa-microphone-slash
            button#actionBtn.social__btn Record Video
        form(method="POST", enctype="multipart/form-data")
            h1 Upload Video
            div.inputbox
                input(type="file", accept="video/*", required, id="video", name="video")
                label(for="video") Video File
            div.inputbox
                input(type="file", accept="image/*", required, id="thumb", name="thumb")
                label(for="thumb") Thumbnail File
            div.inputbox
                input(required, type="text", name="title", maxlength=50, autocomplete="off", id="title")
                label(for="title") Title
            div.inputbox
                input(required, type="text", name="description", autocomplete="off", id="description")
                label(for="description") Description
            div.inputbox
                input(required, type="text", name="hashtags", autocomplete="off", id="hashtags")
                label(for="hashtags") Hashtags (separated by comma)
            input(type="submit", value="Upload Video")

block scripts
    script(src="/static/js/recorder.js") 