extends base.pug

block content 
    div.upload__container
        div.upload__video
            video#preview.none
            span#mic.upload__micBtn.none
                i.fas.fa-microphone-slash
            button#actionBtn.social__btn Record Video
        if errorMessage
            span=errorMessage
        form(method="POST", enctype="multipart/form-data")
            h1 Upload Video
            //- label(for="video") Video File
            div.inputbox
                input(type="file", accept="video/*", required, id="video", name="video")
                span Video File
            //- label(for="thumb") Thumbnail File
            div.inputbox
                input(type="file", accept="image/*", required, id="thumb", name="thumb")
                span Thumbnail File
            div.inputbox
                input(required, type="text", name="title", maxlength=50, autocomplete="off")
                span Title
            div.inputbox
                input(required, type="text", name="description", autocomplete="off")
                span Description
            div.inputbox
                input(required, type="text", name="hashtags", autocomplete="off")
                span Hashtags (separated by comma)
            input(type="submit", value="Upload Video")

block scripts
    script(src="/static/js/recorder.js") 