header
    a(href="/").header__logo
        i.fab.fa-youtube
    nav
        ul
            li
                a(href="/search")
                    i.fas.fa-search
            //- pug파일에서 res.locas에 접근할 수 있다.
            if loggedIn
                li
                    a(href="/videos/upload") Upload Video
                li
                    a(href="/users/edit") Edit Profile
                li
                    a(href="/users/logout")  Log Out
                li
                    a(href=`/users/${loggedInUser._id}`)
                        if isHeroku
                            img.header__avatar(src=loggedInUser.avatarUrl, crossorigin)
                        else 
                            img.header__avatar(src="/" + loggedInUser.avatarUrl)
            else
                li
                    a(href="/login")  Login                        
                li
                    a(href="/join").header__btn  Join
            