extends ../base

block content
    form(method="POST")
        h1 Change Password
        div.inputbox
            input(type="password", name="oldPassword", required, id="oldPassword")
            label(for="oldPassword") Old Password
        div.inputbox
            input(type="password", name="newPassword", required, id="newPassword")
            label(for="newPassword") New Password
        div.inputbox
            input(type="password", name="newPasswordConfirmation", required, id="newPasswordConfirmation")
            label(for="newPasswordConfirmation") New Password Confirmation
        input(type="submit", value="Change Password")