extends ../base

block content
    form(method="POST")
        h1 Login
        div.inputbox
            input(name="username", type="text", required, autocomplete="off", id="username")
            label(for="username") Username
        div.inputbox
            input(name="password", type="password", required, id="password")
            label(for="password") Password
        input(type="submit", value="Login")
        include ../partials/social-login
    div.auth-switch
        span Don't have an account? 
        a(href="join") Create one now &rarr;

block scripts 
    script(src="/static/js/socialLogin.js") 