extends ../base
include ../mixins/profile-video


block content
    div.profile__data
        if user.avatarUrl.includes("github")
            img.avatar(src=user.avatarUrl)
        else
            img.avatar(src="/" + user.avatarUrl)
        h3=user.name
        small Created At #{new Date(user.createdAt).toLocaleString("ko-kr")}
    div.video-grid
        each video in user.videos
            +video(video)
        else
            span.empty__message No videos found